/* ==================== TABLET 768px==================== */
@media (min-width: 768px) {
    h1 {
        font-size: var(--font-xxl);
        padding-top: 30px;
    }
    .form__registro {
        width: 50%;
        padding: 20px;
    }
}
/* ==================== TABLET 900px==================== */
@media (min-width: 900px) {
    .form__registro {
        width: 40%;
    }
}

/* ==================== DESKTOP 1024px ==================== */
@media (min-width: 1024px) {
    .form__registro {
        width: 30%;
    }
}

/* ==================== HEIGHT 941px ==================== */
@media (min-height: 941px) {
    main {
    height: 92vh;
    }
}