/* ==================== MENU 500px==================== */
@media (min-width: 540px) {
    /* menu */
    .navbar__links {
        font-size: var(--font-m);
    }
    .navbar__items {
        width: 250px;
    }
    .btn__menu {
        width: 250px;
        font-size: var(--font-m);
    }
}
/* ==================== TABLET 768px==================== */
@media (min-width: 768px) {
    
    /* hero */
    .hero__h1 {
        font-size: var(--font-xl);
    }
    .hero__p {
        font-size: var(--font-m);
    }

    /* about */
    #about h1 {
        font-size: var(--font-xl);
        padding-bottom: 20px;
    }
    .about__container {
        width: 100%;
        justify-content: center;
        
    }
    .about__container--caja {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .about__info {
        width: 100%;
    }
    .about__info--img {
        width: 50%;
    }
    .reverse {
        flex-direction: row-reverse;
    }

    /* cards */
    .cards__info--title {
        font-size: var(--font-xl);
    }
    .cards__info--p {
        font-size: var(--font-m);
    }
    .card {
        width: 350px;
        height: 450px;
    }
    .card__img {
        width: 310px;
        height: 250px;
    }
    .btn--card {
        width: 300px;
        padding: 12px;
    }

    /* contact */
    #contact{
        gap: 50px;
    }
    .contact__title {
        font-size: var(--font-xl)
    }
    .contact__p {
        font-size: var(--font-m);

    }
    .contact__container{
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .contact__info--container {
        width: 100%;
    }
    .contact__info {
        gap: 30px;
    }
    .info__telef,
    .info__mail,
    .info__ubic p {
        font-size: var(--font-s);
    }
    .fa-solid {
        font-size: var(--font-l);
    }
    form {
        width: 100%;
        padding-bottom: 10px;
    }
    .contact__map {
        width: 100%;
    }
    .contact__map iframe {
        width: 100%;
    }
    .contact__formMap {
        width: 90%;
        align-items: center;
        justify-content: center;
    }
}

/* ==================== TABLET 900px ==================== */
@media (min-width: 900px) {
    /* contact */
    .contact__info--container {
        width:80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info__telef,
    .info__ubic,
    .info__mail {
        gap: 40px;
    }
    .contact__formMap {
        width: 100%;
        display: flex;
        gap: 10px;
    }
    .form__index {
        width: 100%;
    }
    .contact__map {
        background-color: rgb(120, 120, 151);
        width: 100%;
    }
    iframe {
        width: 100%;
        height: 80vh;
    }
}

/* ==================== DESKTOP 1024px ==================== */
@media (min-width: 1024px) {
    /* ==================== HEADER ==================== */
    .header {
        height: 100px; 
    }
    .header__logo {
        width: 250px;
        height: 90px;
        padding-left: 20px;
    }

    /* ocultamos menu */
    #menu,
    #toggle__menu,
    #closemenu {
        display: none;
    }
    /* ocultamos menu */

    .header__nav {
        width: 70%;
    }
    .navbar__menuDesktop {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navbar__listDesktop {
        display: flex;
        gap: 20px; 
    }
    .navbar__linkDesktop {
        font-weight: var(--font-semibold);
        font-size: var(--font-sm);
        color: var(--btn-bg);
        letter-spacing: 2px;
        cursor: pointer;
        padding: 8px;
    }

    /* btn Desktop */
    .navbar__btnsDesktop {
        width: 35%;
        display: flex;
        justify-content: space-evenly;
    }
    a:hover {
        color: rgb(134, 131, 131);
    }

    /* hero */
    .hero__img {
        padding-top: 100px;
    }
    span {
        font-size: var(--font-xxl);
    }

    /* about */
    .info__p {
        font-size: var(--font-m);
    }
    .info__title {
        font-size: var(--font-m);
    }
    /* contact */
}