
main {
    width: 100%;
    padding-top: 100px;
    background: #a8a4a1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

h1{
    font-size: var(--font-xl);
    color: #644b3c;
    padding-top: 20px;
}
/* form */
.form__registro {
    width: 70%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
    /* outline: 1px solid var(--background-secondary); */
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.246) 0px 4px 12px;
}

/* form información */
.form__info {
    width: 100%;
    color: rgb(98, 96, 96);
}
label {
    width: 100%;
    padding-top: 10px;
} 

#name__reguistro,
#lastName__registro,
#mail__registro,
#contraseña__registro,
#confirmarCont__registro {
    width: 100%;
    height: 30px;
    border-radius: 30px;
    border: 0;
    padding-bottom: 10px;
}

/* form términos */
.form__términos {
    width: 100%;
    color: rgb(98, 96, 96);
}
legend {
    font-size: var(--font-xs);
    padding: 8px 0;
}
/* btn registro */
.btn__registContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn__registro {
    padding: 8px;
    border: none;
    border-radius: 35px;
    width: 170px;
}
.form__info2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p {
    padding: 12px;
    color: rgb(98, 96, 96);
    text-align: center;
}
a {
    color: var(--text-bg);
    font-size: var(--font-s);
    font-weight: var(--font-semibold);
    letter-spacing: 0.5px;
}
