@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'open sans';
    /* outline: 1px solid rgb(24, 46, 187); */
}
:root {
     /* bg-colors */
    --background: #93390D;
    --background-secondary:rgb(233, 229, 229);;
    --btn-bg: #B54408;
    --btn-secondary: #D26804;

    /* Text-colors */
    --text-white: #f6f8fb;
    --text-black: #060606e3;
    --text-bg:#B54408;
    --text-p: rgb(98, 96, 96);

     /* Fonts */
    --font-opensans: "Open Sans";
    --font-regular: 400;
    --font-mediun: 500;
    --font-semibold: 600;
    --font-bold: 700;

    --font-xs: 10px
    --font-s: 16px;
    --font-m: 24px;
    --font-l: 32px;
    --font-xl: 40px;

}
/* ==================== REUTILIZABLES ==================== */
/* BUTTON */
.btn {
    background: var(--btn-bg);
    padding: 8px;
    border-radius: 35px;
    width: 150px;
    text-align: center;
    font-weight: var(--font-semibold);
    font-size: var(--font-sm);
    color: var(--text-white);
    letter-spacing: 1.5px;
}
.btn__secondary {
    outline: 1px solid var(--btn-secondary);
    padding: 8px;
    border-radius: 35px;
    width: 150px;
    text-align: center;
    font-weight: var(--font-semibold);
    font-size: var(--font-sm);
    color: var(--text-bg);
    letter-spacing: 1px;
}
span {
    background: rgb(70,23,2);
    background: linear-gradient(90deg, rgb(97, 41, 15) 18%, rgba(181,68,8,1) 87%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: var(--font-xl);
    font-weight: var(--font-bold);
}

/* ==================== REUTILIZABLES ==================== */

/* ==================== HEADER ==================== */
.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background: rgba(255, 255, 255, 0.966);

    position: fixed;
    width: 100%;
}
.header__logo {
    width: 110px;
    height: 40px;
}

/* ==================== NAVBAR ==================== */
.navbar {
    display: flex;
}

.navbar__menu {
    padding-top: 1.45rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    min-height: 100vh;
    top: 0; 
    right: 0;
    border-left: 0.5px solid var(--btn-bg);
    transform: translateX(200%);
    transition: all 0.4s ease;

    backdrop-filter: blur(7px);
    background: rgba(255, 255, 255, 0.727);
}
.navbar__items {
    width: 150px;
    font-weight: var(--font-semibold);
    font-size: var(--font-sm);
    color: var(--btn-bg);
    letter-spacing: 2px;
    /* border-top: 0.5px solid var(--btn-bg); */
    border-bottom: 0.5px solid var(--btn-bg);
    padding: 8px;
    text-align: center;
    margin-top: 10px;
}
.navbar__links {
    color: var(--btn-bg);
}
#toggle__menu {
    display: none;
}
/* ==================== PSEUDOCLASES ==================== */
#toggle__closemenu:checked ~ .navbar__menu{
    transform: translateX(-10rem);
}
#toggle__menu:checked ~ .navbar__menu {
    transform: translateX(0);
    
}
.navbar__menu label{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#menu {
    font-size: var(--font-md);
    color: rgb(98, 96, 96);
}
#closemenu{
    padding: 0 10px;
    color: rgb(98, 96, 96);
    font-size: var(--font-md);
}


/* ==================== BUTTON ==================== */
.navbar__btn {
    background: var(--btn-bg);
    padding: 8px;
    border-radius: 35px;
    width: 150px;
    text-align: center;
    font-weight: var(--font-semibold);
    font-size: var(--font-sm);
    color: var(--text-white);
    letter-spacing: 2px;
}
.navbar__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
}
/* ==================== MAIN ==================== */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
/* ==================== SECTION HERO ==================== */
.hero__img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    padding-top: 80px;
    
}
.hero__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.hero__h1 {
    padding-top: 20px;
    font-size: var(--font-l);
    font-weight: var(--font-bold);
    text-align: center;
}
.hero__p {
    font-size: var(--font-s);
    text-align: center;
    color: var(--text-p);
}
/* ?????????????' */
button {
    all: unset;
}

/* ==================== SECTION ABOUT ==================== */
#about {
    width: 100%;
    background: var(--background-secondary);
}
.about__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 1rem;
}
#about h1 {
    padding-top: 2rem;
    text-align: center;
    font-size: var(--font-l);
    font-weight: var(--font-bold);
}
/* ==================== ABOUT-INFO 1 al 6 ==================== */
.about__info {
    width: 300px;
    height:  300px;
    /* background: rgb(255,250,235); */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.info__title {
    padding: 0.5rem;
    font-size: var(--font-s);
    font-weight: var(--font-mediun);
    text-align: center;
}
.info__p {
    padding: 0.5rem;
    font-size: var(--font-s);
    font-weight: var(--font-regular);
    text-align: center;
    color: var(--text-p);
}
.info__btn {
    width:100%;
    text-align: center;
}
.about__info--img {
    width: 300px;
    height: 250px;
    object-fit: cover;
} 

/* ==================== SECTION CARDS ==================== */
#cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.cards__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 10px;
}
.cards__info--title {
    font-size: var(--font-l);
    font-weight: var(--font-bold);
}
.cards__info--p {
    font-size: var(--font-s);
    font-weight: var(--font-regular);
    color: var(--text-p);
}
.cards__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 393px;
    align-items: center;
    justify-content: center;
    border: 1px solid #534b4b;
    border-radius: 25px;
}
.card__img {
    width: 280px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
}
.card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.card__info--title {
    font-size: var(--font-l);
    font-weight: var(--font-bold);
    letter-spacing: 2px;
    color: var(--text-bg);
}
.card__info--p {
    font-size: var(--font-s);
    font-weight: var(--font-regular);
    color: var(--text-p);
}
.card__btn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* ==================== SECTION CONTACT ==================== */
#contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
#contact p {
    text-align: center;
}
.contact__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 20px;
}
.contact__info--container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.info__telef {
    display: flex;
    gap: 10px;
}
.info__mail {
    display: flex;
    gap: 10px;
}
.info__ubic {
    display: flex;
    gap: 10px;
}
.contact__redes {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
}

/* form */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
Fieldset {
    border: none;
}
label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.label__1 {
    padding: 10px 0px;
}
/* form */

/* maps */
.contact__map {
    width: auto;
}
.contact__map iframe {
    width: 100%;
}
/* maps */

/* ==================== FOOTER ==================== */
footer {
    background: var(--background);
    text-align: center;
}
.footer__logo {
    width: 110px;
    height: 40px;
}
footer p {
    font-size: 8px;
    font-weight: var(--font-regular);
}